PORT=4000
NODE_ENV=PRODUCTION

# Database Configuration
DB_URI_LOCAL="mongodb+srv://username:password@your-cluster-url/database?retryWrites=true&w=majority"
DB_URI_PROD="mongodb+srv://username:password@your-cluster-url/database?retryWrites=true&w=majority"